<?php
	define("WORKING_ROOT_DIR", __DIR__);
	define("PROJECT_ROOT_DIR", WORKING_ROOT_DIR);
	define("APPLICATION_ROOT_DIR", PROJECT_ROOT_DIR.'/applications/firewall');

	define("ROOT_DIR", WORKING_ROOT_DIR);
	define("APP_DIR", APPLICATION_ROOT_DIR);

	/**
	  * Change [env] with the name of your environment
	  *
	  * Example: APP_DIR . '/configurations/firewall.envA.json'
	  */
	$configurations = array(
		__DIR__ . '/configurations/ipam.json',
		__DIR__ . '/configurations/ipam.user.json',
		__DIR__ . '/configurations/firewall.json',
		__DIR__ . '/configurations/firewall.user.json',
		__DIR__ . '/configurations/firewall.[env].json',
		__DIR__ . '/configurations/firewall.[env].user.json',
	);

	require_once(__DIR__ . '/firewall.php');
